<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEF</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/biblioteca">Biblioteca.</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Grupo Espírita Fraternidade</h1>
    </main>
</body>
</html>